/*Corpo do HTML*/
body {
    font-family: 'PT Sans Caption', sans-serif;
    font-weight: bold;
    background-color: #87CEFA;
}

/* Navegação no topo da página*/
.menu {
    border-top: 10px solid #009dff;
    border-bottom: 10px solid #0067a7;
    padding-left: 10px;
}

a:link, a:visited {
    background-color: #0067a7;
    color: white;
    float: center;
    padding-left: 60px;
    padding-top: 20px;
    padding-right: 60px;
    padding-bottom: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }

  a:hover, a:active {
    background-color: #009dff;
  }

/*Títulos h1*/

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}