/*Corpo do HTML*/
body {
    font-family: 'PT Sans Caption', sans-serif;
    font-weight: bold;
    background-color: #b4dcf5;
}

/* Navegação no topo da página*/
.menu {
    overflow: hidden;
    background-color: #0067a7;
}

a{
    background-color: #0067a7;
    color: white;
    padding: 20px 55px;
    float: left;
    text-align: center;
    text-decoration: none;
    display: block;
}

a:hover,a:active {
    background-color: #009dff;
}

/*Títulos h1*/
h1 {
    text-align: center;
    font-size: 50px;
    color: #0067a7;
}

h2 {
    text-align: center;
    font-size: 25px;
}

.container {
    position: relative;
    width: 1250px;
    height: 320px;
    margin-left: auto;
    margin-right: auto;
}

.container-text {
    position: absolute;
    width: 600px;
    height: 320px;
    text-align: left;
    margin: auto;
}

.container-img {
    position: absolute;
    width: 600px;
    height: 320px;
    left: 650px;
    text-align: left;
    margin: auto;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #0067a7;
    color: white;
    text-align: center;
  }