/*Corpo do HTML*/
body {
    font-family: 'PT Sans Caption', sans-serif;
    font-weight: bold;
    background-color: #87CEFA;
}

/* Navegação no topo da página*/
.menu {
    border-top: 10px solid #009dff;
    border-bottom: 10px solid #0067a7;
    padding-left: 40px;
}

a:link, a:visited {
    background-color: #0067a7;
    color: white;
    float: center;
    padding-left: 55px;
    padding-top: 20px;
    padding-right: 55px;
    padding-bottom: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }

  a:hover, a:active {
    background-color: #009dff;
  }

/*Títulos h1*/

h1 {
    text-align: center;
    font-size: 50px;
}

h2 {
    text-align: center;
    font-size: 25px;
}

.container{
    position: relative;
    width: 1200px;
    height: 350px;
    margin-left: auto;
    margin-right: auto;
}

.container-text{
    position: absolute;
    width: 600px;
    height: 350px;
    text-align: left;
    align-content: baseline;
}

.container-img{
    position: absolute;
    width: 600px;
    height: 350px;
    left: 600px;
    align-content: baseline;
}
